* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #302929;
    color: #FFF;
    font-size: 25px;
}

h3 {
    display: flex;
    justify-content: center;
    color: #057777;
}

h4 {
    display: flex;
    justify-content: center;
    color: #05a4ee;
}